In [41]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


data_set= pd.read_csv('kc_house_data.csv')

print('Here is how the sample data looks like\n')
print(data_set.head())
print(data_set.dtypes)

data_set=data_set.drop(['id','date'],axis=1)

print('\n Required Columns are\n', data_set.columns)

X=data_set.drop(['price'],axis=1)
y=data_set[['price']]


print(X.columns)
print(y.columns)

Here is how the sample data looks like

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]
id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

 Required Columns are
 Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')
Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')
Index(['price'], dtype='object')

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

model=LinearRegression()

model.fit(X_train,y_train)
y_results = model.predict(X_test)

print('The results for ', y_test, ' are ', y_results)

The results for             price
17384   297000.0
722    1578000.0
2680    562100.0
18754   631500.0
14554   780000.0
16227   485000.0
6631    340000.0
19813   335606.0
3367    425000.0
21372   490000.0
3268    732000.0
20961   389700.0
21456   450000.0
3880    357000.0
17472   960000.0
7618    257000.0
1091    448000.0
1560    610000.0
8945    230950.0
8439    377500.0
13058   375000.0
12080   410000.0
7417    459000.0
3101    190000.0
18769   585000.0
7332    280000.0
19186   500000.0
11875   465000.0
14100   802000.0
10641   440000.0
...          ...
15967   615000.0
2109    307000.0
2133    655000.0
5863    370000.0
3472    355000.0
17660   625000.0
5276    226450.0
14125   875000.0
18648   423000.0
19945   530000.0
1794    950000.0
6606    204950.0
21008   580000.0
7036    584000.0
8366    262500.0
21547   327000.0
3317    590000.0
20005  1400000.0
19552   481000.0
19439   505000.0
20470   391000.0
8842    580000.0
7776    403500.0
7025    378800.0
11818   700000.0
19505   518000.0
18673   475000.0
18679   300000.0
19684  2205000.0
3818    540000.0

[7133 rows x 1 columns]  are  [[ 386633.33477303]
 [1516577.38814292]
 [ 538794.71583289]
 ...
 [ 403871.66754079]
 [1047077.80070072]
 [ 503886.34113816]]